/* Login.php */

.login-form-div {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-div .login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-div .login-form label {
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 10px;
}

.login-form-div .login-form input[type="text"],
.login-form-div .login-form input[type="password"] {
    font-family: monospace;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.login-form-div .login-form button {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgreen;
    font-family: monospace;
    font-size: 24px;
}

.login-form-div .login-form input[type="text"]:hover {
    background-color: rgba(128, 128, 128, 0.5);
    transition-duration: 0.5s;
}


.login-form-div .login-form input[type="password"]:hover {
    background-color: rgba(128, 128, 128, 0.5);
    transition-duration: 0.5s;
}


.login-form-div .login-form button:hover {
    background-color: rgb(6, 206, 6);
    transition-duration: 0.5s;
    width: 50%;
}

/* All */
h1{
    font-family: monospace;
    text-align: center;
}

.footer-object {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: monospace;
}

.navigace-list li {
    display: inline-block;
    margin-right: 20px;
    font-family: monospace;
    align-items: center;
}

.navigace-odkaz {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease;
}

.navigace-odkaz:hover {
    background-color: #ccc;
}

/* rooms.php */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    width: 70vw;
    gap: 50px;
    font-family: monospace;
}

.grid-item {
    display: grid;
    grid-template-rows: 2 0.1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #e7e7e7;
    border-radius: 75px;
}

.grid-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for scaling */
    /* Optional: Add some default styles */
    display: block;
    text-decoration: none;
}

.grid-item:hover {
    transform: scale(1.05);
    /* Scale up the element by 5% */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add shadow for better visual effect */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    width: 70vw;
    gap: 20px;
}

.grid-item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #e7e7e7;
    border-radius: 75px;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.room-number {
    grid-column: 1 / span 2;
    /* Take both columns */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.floor {
    grid-column: 1 / span 2;
    /* Take both columns */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid black;
    height: 5vh;
    margin-top: 20px;
}

.status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    /* Take both columns */
    gap: 10px;
    font-size: 15px;
}

.cleaned,
.occupied {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


/* Room.php */

.room-details {
    font-family: monospace;
}

.form-group-room {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Vytvoří dva sloupce s rovnou šířkou */
    gap: 20px;
    /* Volitelné: mezera mezi položkami */
    justify-content: center;
    /* Vycentruje grid */
    align-items: center;
    /* Vertikální zarovnání, pokud je potřeba */

}

.form-group-room label {
    font-size: 20px;
}

.form-room {
    display: flex;
    flex-direction: column;
    /* Umožní zarovnání položek vertikálně */
    align-items: center;
    /* Horizontální zarovnání na střed */
    gap: 20px;
    /* Volitelné: mezera mezi položkami */
}

#submit-room {
    border-radius: 5px;
    border-width: 1px;
    height: 5vh;
    width: 10vh;
    box-shadow: 0px 3px 3px 0px grey;
    background-color: #e6e6e6;
    font-family: monospace;
    font-size: 15px;
    cursor: pointer;
}

#submit-room:hover {
    transition-duration: 0.3s;
    width: 20vh;
    background-color: #68ff00;
}

#message-room {
    color: green;
    width: 100%;
    text-align: center;
    opacity: 1;
    /* Začíná s plnou neprůhledností */
    transition: opacity 1s ease-in-out;
}

#message-room p {
    display: inline-block;
    /* Aby <p> mělo šířku pouze podle obsahu */
    width: 50%;
    /* Nastaví šířku <p> na 25% šířky #message-room */
    height: 20%;
    text-align: center;
    /* Vycentruje text uvnitř <p> */
    border-width: 1px;
    border: 0px solid #333;
    background-color: #66ff00;
    border-radius: 10px;
    padding: 7px;
    font-family: monospace;
    font-size: 20px;
    color: black;
}

.room-number-room {
    text-align: center;
    margin-top: 50%;
    font-size: 25px;
    margin-bottom: 5%;
}

.floor-room {
    text-align: center;
    font-size: 15px;
}

.bed-room {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    accent-color: black;
}

/* login.php */

#message-login {
    color: green;
    width: 100%;
    text-align: center;
    opacity: 1;
    /* Začíná s plnou neprůhledností */
    transition: opacity 1s ease-in-out;
}

#message-login p {
    display: inline-block;
    /* Aby <p> mělo šířku pouze podle obsahu */
    width: 50%;
    /* Nastaví šířku <p> na 25% šířky #message-room */
    height: 20%;
    text-align: center;
    /* Vycentruje text uvnitř <p> */
    border-width: 1px;
    border: 0px solid #333;
    background-color: #66ff00;
    border-radius: 10px;
    padding: 7px;
    font-family: monospace;
    font-size: 20px;
    color: black;
}

/* volne_pokoje.php */
.table-volne-pokoje {
    margin: 5%;
    font-family: monospace;
}

.table-volne-pokoje :hover {
    scale: 1.03;
    transition: 0.5s;
}

.table-volne-pokoje th {
    background-color: #33333391;
    width: 5%;
    font-size: 15px;
    color: white;
}

.table-volne-pokoje td {
    background-color: #facdcd;
    text-align: center;
    font-size: 12px;
}

#message-volne-pokoje {
    color: green;
    width: 100%;
    text-align: center;
    opacity: 1;
    /* Začíná s plnou neprůhledností */
    transition: opacity 1s ease-in-out;
}

#message-volne-pokoje p {
    display: inline-block;
    /* Aby <p> mělo šířku pouze podle obsahu */
    width: 50%;
    /* Nastaví šířku <p> na 25% šířky #message-room */
    height: 20%;
    text-align: center;
    /* Vycentruje text uvnitř <p> */
    border-width: 1px;
    border: 0px solid #333;
    background-color: #66ff00;
    border-radius: 10px;
    padding: 7px;
    font-family: monospace;
    font-size: 20px;
    color: black;
}

/* recepcni.php */

#message-recepcni {
    color: green;
    width: 100%;
    text-align: center;
    opacity: 1;
    /* Začíná s plnou neprůhledností */
    transition: opacity 1s ease-in-out;
}

#message-recepcni p {
    display: inline-block;
    /* Aby <p> mělo šířku pouze podle obsahu */
    width: 50%;
    /* Nastaví šířku <p> na 25% šířky #message-room */
    height: 20%;
    text-align: center;
    /* Vycentruje text uvnitř <p> */
    border-width: 1px;
    border: 0px solid #333;
    background-color: #66ff00;
    border-radius: 10px;
    padding: 7px;
    font-family: monospace;
    font-size: 20px;
    color: black;
}

